<% if(errors.length > 0) { %> 
<div class="alert alert-danger">
    <% errors.forEach(erro =>{ %>
        <%= erro %>
    <% }) %> 
</div>
<% } %> 

<% if(success.length > 0) { %> 
    <div class="alert alert-success">
        <% success.forEach(success =>{ %>
            <%= success %>
        <% }) %> 
    </div>
<% } %>